{{define "content"}}
<h1>{{.Translate "purchase"}} {{.Purchase.ID}}</h1>
<p>
	<strong>{{.Translate "status"}}</strong>: {{.Translate (printf "%s%s" "status-" .Purchase.Status)}}
	{{if .Purchase.DeleteDate}}
		<br>{{.Translate "info-delete"}} {{.Purchase.DeleteDateStr}}</p>
	{{end}}
</p>
{{with .PaysrvErr}}
	<p class="alert alert-danger">Unser Payserver lieferte eine Fehlermeldung: {{.}}</p>
{{end}}
{{if or .Purchase.WaitingForBTCPayment .Purchase.Underdelivered}}
	<script>
		scheduleReload();
	</script>
	<noscript>
		<p>{{.Translate "javascript-reload"}}</p>
	</noscript>
{{end}}
<h2>{{.Translate "whats-next"}}</h2>
<p>
	<ol>
		{{if .Purchase.Unpaid}}
			<li>{{.Translate "next-1"}}</li>
		{{end}}
		<!-- same as in order.html -->
		<li>{{.Translate "how-2"}} <code>{{.URL}}</code></li>
		{{if .Purchase.Unpaid}}
			<li>{{.Translate "how-3"}}</li>
			<li>{{.Translate "how-4"}}</li>
		{{end}}
		<li>{{.Translate "how-5"}}</li>
		<!-- end -->
	</ol>
</p>
{{if .Purchase.Unpaid}}
	<h2 id="payment">{{.Translate "payment"}}</h2>
	<div>
		<ul class="nav nav-tabs my-3">
			<li class="nav-item">
				<a class="nav-link {{if eq .ActiveTab "btcpay"}}active{{end}}" href="{{.TabBTCPay}}#payment">{{.Translate "payment-btcpay"}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{if eq .ActiveTab "cash"}}active{{end}}" href="{{.TabCash}}#payment">{{.Translate "payment-cash"}}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {{if eq .ActiveTab "sepa"}}active{{end}}" href="{{.TabSepa}}#payment">{{.Translate "payment-sepa"}}</a>
			</li>
		</ul>
		{{if eq .ActiveTab "btcpay"}}
			<p>{{.Translate "payment-btcpay-intro"}}</p>
			<!-- open in new window, in case you didn't bookmark the purchase url -->
			<form method="post" target="_blank" class="mb-3">
				<button type="submit" class="btn btn-success">{{.Translate "btcpay-link"}}</button>
			</form>
		{{end}}
		{{if eq .ActiveTab "cash"}}
			<p>{{.Translate "payment-cash-intro"}}</p>
			{{block "cash" .}}{{end}}
			<p>{{.Translate "payment-cash-payid"}} <code>{{.Purchase.PayID}}</code></p>
		{{end}}
		{{if eq .ActiveTab "sepa"}}
			<p>{{.Translate "payment-sepa-intro"}}</p>
			{{block "sepa" .}}{{end}}
			<p>{{.Translate "payment-sepa-payid"}} <code>{{.Purchase.PayID}}</code></p>
		{{end}}
	</div>
{{end}}
<h2>{{.Translate "your-order"}}</h2>
<table class="table">
	<thead>
		<tr>
			<th>{{.Translate "product"}}</th>
			<th>{{.Translate "amount"}}</th>
			<th>{{.Translate "item-price"}}</th>
			<th>{{.Translate "sum"}}</th>
		</tr>
	</thead>
	<tbody>
		{{range .GroupedOrder}}
			{{if gt (len .Rows) 0}}
			<tr>
				<td colspan="4">
					{{with .Category}}
						<!-- same as in purchase.html -->
						<input style="display: none" type="checkbox" id="toggle-{{.ID}}">
						<label for="toggle-{{.ID}}">
							<strong>{{.Name}}</strong>
							({{$.Translate "click-more"}})
						</label>
						<style>
						#toggle-{{.ID}} ~ div {
							display: none;
						}
						#toggle-{{.ID}}:checked ~ div {
							display: block;
						}
						</style>
						<div class="mt-2 mb-1">
							{{.Translate $.Language}}
						</div>
						<!-- end -->
					{{end}}
				</td>
			</tr>
				{{range .Rows}}
				<tr>
					<td>{{$.GetArticleName .ArticleID}}</td>
					<td>{{.Amount}}</td>
					<td>{{FmtEuro .ItemPrice}}</td>
					<td>{{FmtEuro .Sum}}</td>
				</tr>
				{{end}}
			{{end}}
		{{end}}
		<tr>
			<td colspan="3">{{.Translate "overall-sum"}}</td>
			<td>{{FmtEuro .Purchase.Ordered.Sum}}</td>
		</tr>
	</tbody>
</table>
<h2>{{.Translate "your-goods"}}</h2>
<table class="table">
	<thead>
		<tr>
			<th>{{.Translate "product"}}</th>
			<th>{{.Translate "delivery-date"}}</th>
			<th>{{.Translate "code"}}</th>
		</tr>
	</thead>
	<tbody>
		{{range .Purchase.Delivered}}
		<tr>
			<td>{{$.GetArticleName .ArticleID}}</td>
			<td>{{.DeliveryDateStr}}</td>
			{{if .Image}}
				<!-- use image as code -->
				<td><img src="{{.ImageSrc}}" /></td>
			{{else}}
				<!-- use ID as code -->
				<td>{{.ID}}</td>
			{{end}}
		</tr>
		{{end}}
		{{if .Purchase.Underdelivered}}
		<tr>
			<td colspan="4">{{.Translate "sorry-underdelivered"}}</td>
		</tr>
		{{end}}
		{{if .Purchase.Unpaid}}
		<tr>
			<td colspan="4">{{.Translate "info-unpaid"}}</td>
		</tr>
		{{end}}
	</tbody>
</table>
{{end}}
