{{define "content"}}
<h1>{{.Tr "Order"}} {{.Purchase.ID}}</h1>
<div class="alert {{AlertContextualClass .Purchase.Status}}"><strong>{{.Tr "Status"}}</strong>: {{.Purchase.Status.TranslateName .Lang}}: {{.Purchase.Status.TranslateDescription .Lang}}</div>
{{if .Purchase.DeleteDate}}
	<p>{{.Tr "Current deletion date"}}: {{.Purchase.DeleteDate}}</p>
{{end}}
{{with .PaysrvErr}}
	<p class="alert alert-danger">Unser Payserver lieferte eine Fehlermeldung: {{.}}</p>
{{end}}
{{if .Purchase.Waiting}}
	<script>
		scheduleReload();
	</script>
	<noscript>
		<p>{{.Tr "JavaScript is disabled in your browser. In order to receive updates on your order, please reload this page from time to time."}}</p>
	</noscript>
{{end}}
<h2>{{.Tr "What's next?"}}</h2>
<ol>
	{{if .Purchase.Unpaid}}
		<li>{{.Tr "Check your order."}}</li>
	{{end}}
	<!-- same as in order.html -->
	{{if .Purchase.Unpaid}}
		<li>{{.Tr "Save the URL of your order. You need it to access your goods if you closed the browser tab."}} <code>{{.URL}}</code></li>
		<li>{{.Tr "Pay your order. (Unpaid orders are deleted after 30 days.)"}}</li>
		<li>{{.Tr "As soon as your payment arrives, your voucher codes are shown. In the unlikely case that your goods have become sold out in the meantime, your codes will appear as soon as they are back in stock."}}</li>
	{{end}}
	<li>{{.Tr "Write down your codes. We will delete them 30 days after delivery."}}</li>
	<!-- end -->
</ol>
{{if .Purchase.Unpaid}}
	<h2 id="payment">{{.Tr "Payment"}}</h2>
	<div>
		<ul class="nav nav-tabs my-3">
			{{range .PaymentMethods}}
				<li class="nav-item">
					<a class="nav-link {{if eq $.ActiveTab .ID}}active{{end}}" href="{{$.URL}}/{{.ID}}#payment">{{.Name $.Lang.String}}</a>
				</li>
			{{end}}
		</ul>
		<p>{{.PaymentMethod.PayHTML .Purchase.ID .Purchase.PaymentKey $.Lang.String}}</p>
	</div>
{{end}}
<h2>{{.Tr "Your Order"}}</h2>
<table class="table">
	<thead>
		<tr>
			<th>{{.Tr "Product"}}</th>
			<th>{{.Tr "Quantity"}}</th>
			<th>{{.Tr "Item Price"}}</th>
			<th>{{.Tr "Sum"}}</th>
		</tr>
	</thead>
	<tbody>
		{{range .GroupedOrder}}
			<tr>
				<td colspan="4">
					<details class="mb-3">
						<summary><strong>{{.NameHTML}}</strong> <span class="btn btn-outline-primary btn-sm ms-2">Read more</span></summary>
						<p class="my-2">{{.TranslateDescription $.Lang}}</p>
					</details>
					{{if .Alert}}
						<div class="alert alert-danger">{{.TranslateAlert $.Lang}}</div>
					{{end}}
				</td>
			</tr>
			{{range .Variants}}
				{{$variant := .}}
				{{range .Rows}}
					<tr>
						<td>{{$variant.NameHTML}} {{with .CountryID}}{{if ne . "all"}}({{$.Tr .}}){{end}}{{end}}</td>
						<td>{{.Quantity}}</td>
						<td>{{FmtEuro .ItemPrice}}</td>
						<td>{{FmtEuro .Sum}}</td>
					</tr>
				{{end}}
			{{end}}
		{{end}}
		<tr>
			<td colspan="3">{{.Tr "Overall Sum"}}</td>
			<td>{{FmtEuro .Purchase.Ordered.Sum}}</td>
		</tr>
	</tbody>
</table>
<h2>{{.Tr "Your Goods"}}</h2>
<table class="table">
	<thead>
		<tr>
			<th>{{.Tr "Product"}}</th>
			<th>{{.Tr "Delivery Date"}}</th>
			<th>{{.Tr "Code"}}</th>
		</tr>
	</thead>
	<tbody>
		{{range .Purchase.Delivered}}
		<tr>
			<td>{{.VariantID}} {{with .CountryID}}{{if ne . "all"}}({{$.Tr .}}){{end}}{{end}}</td>
			<td>{{.DeliveryDate}}</td>
			<td>
				{{if .Image}}
					<!-- use image as code -->
					<img src="{{.ImageSrc}}" />
				{{else}}
					<!-- use ID as code -->
					{{if IsURL .ID}}
						<a rel="noreferrer" target="_blank" href="{{.ID}}">{{.ID}}</a>
					{{else}}
						{{.ID}}
					{{end}}
				{{end}}
			</td>
		</tr>
		{{end}}
		{{if .Purchase.Underdelivered}}
		<tr>
			<td colspan="3">{{.Tr "You will receive the missing codes here as soon as they are in stock again. Sorry for the inconvenience."}}</td>
		</tr>
		{{end}}
		{{if .Purchase.Unpaid}}
		<tr>
			<td colspan="3">{{.Tr "You will receive your codes as soon as you payment has arrived."}}</td>
		</tr>
		{{end}}
	</tbody>
</table>
{{end}}
