{{define "head"}}
	<link rel="stylesheet" href="/static/digitalgoods.css">
	<link rel="icon" type="image/png" href="/static/favicon-96.png" sizes="96x96">
    <meta name="author" content="ProxyStore">
    <meta name="description" content="{{.Tr "Buy coupons, voucher codes and gift cards for privacy services and pay anonymously with Monero, Bitcoin or cash letter. SEPA Bank transfer is also available."}}">
	<script type="application/ld+json">
		{
			"@context" : "https://schema.org",
			"@type" : "WebSite",
			"name" : "ProxyStore",
			"url" : "https://digitalgoods.proxysto.re/"
		}
	</script>
	<title>{{block "title-prefix" .}}{{end}}Digital Goods by ProxyStore</title>
{{end}}

{{define "main"}}
	<header>
		<nav class="navbar navbar-expand-md bg-body-tertiary">
			<div class="container">
				{{if .FilterBrand}}
					<span class="navbar-brand">
						<nav style="--bs-breadcrumb-divider: '›';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a href="/{{.Lang.Prefix}}">Digital Goods</a></li>
								<li class="breadcrumb-item active" aria-current="page">{{.FilterBrand}}</li>
							</ol>
						</nav>
					</span>
				{{else}}
					<a class="navbar-brand" href="/{{.Lang.Prefix}}">Digital Goods</a>
				{{end}}
				<div>{{template "languages" .}}</div>
			</div>
		</nav>
	</header>
	<main class="container pt-3 pb-4">
		{{template "content" .}}
	</main>
{{end}}
