{{define "head"}}
	<link rel="stylesheet" href="/static/digitalgoods.css">
	<link rel="icon" type="image/png" href="https://proxysto.re/assets/images/favicon-96.png" sizes="96x96">
    <meta name="author" content="ProxyStore">
    <meta name="description" content="Buy coupons, voucher codes and gift cards for privacy services and pay anonymously with Monero, Bitcoin or cash letter.">

	<script src="/static/scripts.js"></script>
	<title>Digital Goods – ProxyStore</title>
{{end}}

{{define "main"}}
	<header>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/en/">Digital Goods</a>
				{{block "menu" .}}{{end}}
				<div>
					{{template "health"}}
					{{template "languages" .}}
				</div>
			</div>
		</nav>
	</header>
	<main class="container pt-3 pb-4">
		{{template "content" .}}
	</main>
{{end}}
