<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{block "head" .}}{{end}}
	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<script src="/static/scripts.js"></script>
	<style>
		nav {
			margin-bottom: 12px;
		}
		@media (min-width: 992px) {
			.equal-width-lg {
				flex: 1 1 0px;
			}
		}
	</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<!-- left -->
				<div class="equal-width-lg navbar-brand">
					{{block "brand" .}}{{end}}
				</div>
				<!-- center -->
				<div class="equal-width-lg text-lg-center">
					{{block "menu" .}}{{end}}
					{{block "health" .}}{{end}}
				</div>
				<!-- right -->
				<div class="equal-width-lg text-lg-end">
					<a href="?lang=de" class="btn btn-secondary btn-sm ml-4">DE</a>
					<a href="?lang=en" class="btn btn-secondary btn-sm ml-4">EN</a>
				</div>
			</div>
		</nav>
	</header>
	<main class="container">
		{{template "content" .}}
	</main>
	{{block "footer" .}}{{end}}
</body>
</html>

{{define "health-widget"}}
<script>
/* own namespace */
{
	let url = {{.}};
	let id = btoa(url); // use base64(url) as DOM id
	document.write(` <span id="${id}"></span>`);
	updateHealth(url);
}
</script>
{{end}}
