{{define "content"}}
	<h1>Manually mark a purchase paid</h1>
	<form method="post">
		<div class="mb-3">
			<label for="id" class="form-label">ID</label>
			<input id="id" class="form-control" name="id" value="{{.ID}}" readonly>
		</div>
		<p>Amount: {{FmtEuro .Ordered.Sum}}</p>
		<p>Status: {{.Status}}</p>
		<p>Country: {{.CountryCode}}</p>

		<table class="table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Quantity</th>
					<th>Item Price</th>
					<th>Sum</th>
				</tr>
			</thead>
			<tbody>
				{{range .PurchaseArticles}}
					{{range .Variants}}
						{{range .Rows}}
							<tr>
								<td>{{.VariantID}}</td>
								<td>{{.Quantity}}</td>
								<td>{{FmtEuro .ItemPrice}}</td>
								<td>{{FmtEuro .Sum}}</td>
							</tr>
						{{end}}
					{{end}}
				{{end}}
				<tr>
					<td colspan="3">Overall sum</td>
					<td><strong>{{FmtEuro .Purchase.Ordered.Sum}}</strong></td>
				</tr>
			</tbody>
		</table>

		{{if .Unpaid}}
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="confirm" name="confirm">
				<label for="confirm" class="form-check-label">Yes, I am sure. We have received <strong>{{FmtEuro .Ordered.Sum}}</strong>.</label>
			</div>
			<div class="input-group mb-3">
				<label class="input-group-text">Adjust country?</label>
				<select class="form-select" name="country">
					<optgroup label="Not in the European Union">
						<option {{if eq .CountryCode "non-EU"}}selected{{end}} value="non-EU">non-EU</option>
					</optgroup>
					<optgroup label="European Union">
						{{range $.EUCountries}}
							<option {{if eq $.CountryCode .Country}}selected{{end}} value="{{.Country}}">{{.Name}}</option>
						{{end}}
					</optgroup>
				</select>
			</div>
			<div class="text-end">
				<button type="submit" class="btn btn-success">Mark as paid and deliver the goods</button>
			</div>
			<h2>Foreign currencies (rates from {{.Purchase.CreateDate}})</h2>
			<table class="table ms-3 w-auto">
				<thead>
					<tr>
						<th>Amount</th>
						<th>Currency</th>
					</tr>
				</thead>
				<tbody>
					{{range .CurrencyOptions}}
						<tr>
							<td>{{printf "%.2f" .Price}}</td>
							<td>{{.Currency}}</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		{{end}}
	</form>
{{end}}
