{{define "content"}}
	<script>
		function go(articleID, optionElement) {
			location.href = "/upload/" + articleID + "/" + optionElement.value;
		}
	</script>

	<h1>Upload</h1>
	<p>What article are you uploading?</p>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>ID</th>
			<th>Unit price</th>
			<th>On stock</th>
			<th>Underdelivered</th>
			<th>Upload</th>
		</tr>
		{{range .Variants}}
			{{$variant := .}}
			<tr>
				<td>{{$variant.NameHTML}}</td>
				<td>{{$variant.ID}}</td>
				<td>{{FmtEuro $variant.Price}}</td>
				<td>{{$.Stock.Get $variant .}}</td>
				<td>{{index $.Underdelivered $variant.ID}}</td>
				<td><a href="/upload/{{$variant.ID}}/{{.}}">{{.}}</a></td>
			</tr>
		{{end}}
	</table>
{{end}}
