{{define "content"}}
	<script>
		function go(articleID, optionElement) {
			location.href = "/upload/" + articleID + "/" + optionElement.value;
		}
	</script>

	<h1>Upload</h1>
	<p>What article are you uploading?</p>
	<table class="table">
		<thead>
			<tr>
				<!-- variant -->
				<th>Name</th>
				<th>Unit price</th>
				<!-- stock -->
				<th>In stock</th>
				<th>Underdelivered</th>
				<th>Stock ID</th>
			</tr>
		</thead>
		{{range .Catalog}}
			<tbody class="table-group-divider">
				<tr>
					<th colspan="5">{{.Brand}}</th>
				</tr>
				{{range .Units}}
					{{$rowspan := len .Variants}}
					{{range $i, $variant := .Variants}}
						{{$underdelivered := index $.Underdelivered .StockID}}
						<tr role="button" onclick="location.href='/upload/{{.StockID}}'" {{if $underdelivered}}class="table-danger"{{end}}>
							<!-- variant -->
							<td>{{$variant.NameHTML}}</td>
							<td>{{FmtEuro $variant.Price}}</td>
							<!-- stock id -->
							{{if eq $i 0}}
								<td class="align-middle" rowspan="{{$rowspan}}">{{index $.Stock .StockID}}</td>
								<td class="align-middle" rowspan="{{$rowspan}}">{{$underdelivered}}</td>
								<td class="align-middle" rowspan="{{$rowspan}}">{{.StockID}}</td>
							{{end}}
						</tr>
					{{end}}
				{{end}}
			</tbody>
		{{end}}
	</table>
{{end}}
