{{define "content"}}
<h1>{{.Name}} (ID {{.ID}}, unit price {{FmtEuro .Price}}, {{.Stock}} on stock)</h1>
<!-- tabs -->
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="/upload/{{.ID}}/{{.Country}}/image">Image</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" href="/upload/{{.ID}}/{{.Country}}/text">Text</a>
	</li>
</ul>
{{if .HasCountry}}
	<div class="alert alert-warning mt-3">Land: {{$.Translate .Country}}</div>
{{end}}
<!-- text -->
<form method="post" action="/upload/{{.ID}}/{{.Country}}/text">
	<textarea class="form-control my-4" name="codes" rows="10"></textarea>
	<div class="text-end">
		<a class="btn btn-secondary" href="/">Back</a>
		<button class="btn btn-success" type="submit">Upload</a>
	</div>
</form>
{{end}}
