{{define "content"}}
	{{if eq (len .Variants) 1}}
		{{with index .Variants 0}}
			<h1 class="h3">{{.NameHTML}} &ndash; {{FmtEuro .Price}} &ndash; <mark>{{$.Stock}}</mark> in stock</h1>
		{{end}}
	{{else}}
		<h1 class="h3 mb-3"><code>{{.StockID}}</code> &ndash; <mark>{{$.Stock}}</mark> in stock</h1>
		<ul>
			{{range .Variants}}
				<li class="h5">{{.NameHTML}} &ndash; {{FmtEuro .Price}}</li>
			{{end}}
		</ul>
	{{end}}

	<form method="post" action="/upload/{{.StockID}}">
		<textarea class="form-control my-4" style="font-family: monospace" spellcheck="false" name="codes" rows="10" autofocus></textarea>
		<div class="text-end">
			<a class="btn btn-secondary" href="/">Back</a>
			<button class="btn btn-primary" type="submit">Upload</a>
		</div>
	</form>
{{end}}
